*{
    font-size: 20px;
    color: #2C3E50;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgba(213,50,224,1);
}

.container{
    display: flex;
    justify-content: center;
    align-content: space-around;
}

.header{
    display: block;
    position: absolute;
    top: 10px;
    width: 800px;
    padding: 20px 50px;
    max-width: 80%;
    margin-top: 20px;
    background-color: white;
    border-radius: 5px;
    text-align: justify;
}

h1{
    font-size: 50px;
    text-align: center;
    font-family: 'Permanent Marker', sans-serif;
}

.quiz-container{
    position: absolute;
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 40px;
    margin-bottom: 20px;
    box-shadow: 0 0 20px 3px #A08B97;
}

#question{
    padding-bottom: 15px;
}

.timer-container{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.timer{
    border: solid 3px rgb(243, 102, 208);
    border-radius: 3%;
    width: 18%;
    text-align: center;
    padding: 5px;
}

.btn-grid{
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn {
     background-color: #FAEEF5;
     border-radius: 5px;
     border: none;
     padding: 10px;
}

.btn:hover{
    border: 1px dotted #A08B97;
}

.start-btn, .next-btn{
    padding: 10px 20px;
    margin: 10px;
}

.controls{
    display: flex;
    justify-content: center;
    align-content: center;
}

.hide{
    display: none;
}

.results-btn{
    background-color: rgba(213,50,224,1);
    color: white;
    font-weight: bold;
}

.results {
    text-align: center;
    padding: 20px;
    border: 2px solid rgba(213,50,224,1);
    margin: 20px;
}